h1 {
    color: blue;
    border-bottom: 1px solid black;
}

.img {
    width: 450px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid blue;
}

.img img {
    width: 450px;
    height: 500px;
    object-fit: cover;
}

.description p {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
}